.cg-grid {
    display: grid;
    /*grid-auto-rows: 50px;*/
    gap: 8px;

}

.cg-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: #d9d9d9;
    color: black;
    font-size: 18px;
    cursor: default;
    width: 100px;

}

.cg-cell-active {
    background-color: #F44336;
    color: white;
    border-color: #F44336;
    border-radius: 6px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;

}

.board-wrapper{
    margin-left: 55px;
}

.background-aktivspil{
    /*margin-top: 50px;*/

    width: 1140px;
    margin: 0 auto;

    flex: 1; /* fills space above footer */
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    background: #FFFFFF;
    padding: 20px;
}

.page-aktivspil{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-y: auto;   /* allows vertical scroll */
    overflow-x: hidden;
}

.logo-aktivspil{
    position: absolute;
    top: 10px;
    left: 200px;
    z-index: 10;
}

.logo-aktivspil img{
    width: 80px;
    height: auto;
}

.main-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.separator{
    width: calc(100% + 55px);
    border: none;
    border-top: 2px solid #ccc;
    margin-top: 55px;
    margin-bottom: 20px;
    margin-left: -55px;
}

.button-aktivspil {
    background: #d9d9d9;
    color: #000000;
    border: none;
    height: 40px;
    width: 100px;
}

.text-aktivspil{
    color: #000000;
    margin-bottom: 20px;

}

.checkbox-aktivspil{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    appearance: none;
    height: 15px;
    width: 15px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 4px;
}

.checkbox-aktivspil:checked {
    background-color: #F44336;
    border-color: #F44336;
}

.checkbox-aktivspil:checked::after {
    content: "✓";
    color: white;
    font-size: 14px;
}

.board-header{
    color: #000000;
}

.board-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: auto; /* pushes it to the right */
    min-width: 300px;
    font-size: 20px;
}

.board-row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px; /* space between the grid and right panel */
    width: 100%;
}

.boards-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.repeat-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
    margin-top: 11px;
}

.uge-aktivspil{
    margin-left: -970px;
    font-size: 25px;
}
