.background-box {
    margin-top: 200px;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    padding: 40px;
    border-radius: 8px;
}