.footer {
    background-color: #F44336;
    color: white;
    padding: 5px;
    margin-top: auto;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-right {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 5px;
}

.footer-left{
    padding-left: 5px;
}

.footer-logo {
    width: 30px;
    height: auto;
    margin-bottom: 5px;
    margin-right: 15px;
}

.footer-logo-text {
    font-size: 10px;
    margin: 0;
    color: white;
}