.button {
    background: #00A637;
    color: #FFFFFF;
    border: none;
    height: 40px;
    width: 120px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background-image: url('../../../public/ArrowRight.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
    padding-right: 30px;
    cursor: pointer;
}
.button-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 125px;
    justify-content: center;
    background: none;
    width: 100px;
    height: 30px;
    gap: 8px;
}

.button .icon {
    width: 10px;
    height: 10px;
}

.button:focus{
    border: none;
    outline: none;
}

.input{
    background: #F44336;
    color: #FFFFFF;
    border: #F44336;
    height: 40px;
    width: 300px;
    font-size: 16px;
    padding-left: 50px;

    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 25px 25px;

    display: flex;
    align-items: center;
}

.input:focus{
    border: none;
    outline: none;
}

.user-input {
    background-image: url('../../../public/User.png');
}

.lock-input {
    background-image: url('../../../public/Lock.png');
}

.password-wrapper {
    position: relative;
}

.show-password-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
    padding: 0;
}

.eye-icon {
    width: 20px;
    height: 20px;
}

::placeholder{
    color: #FFFFFF;
    font-size: 16px;
}

.a{
    color: #000000;
    text-decoration: underline;
    margin-top: 10px;
}

.background-login{
    margin-top: 200px;

    width: 1140px;

    margin-left: auto;
    margin-right: auto;

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}

.page-login {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden; /* prevents unnecessary scroll */
}

.content-login{
    margin-top: 0;
}

.logo-login{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);

}

.logo-login img{
    width: 130px;
    height: auto;
}


